[submodule "vendor/plugins/seed-fu"]
	path = vendor/plugins/seed-fu
	url = git://github.com/mbleigh/seed-fu.git
[submodule "vendor/plugins/inherited_resources"]
	path = vendor/plugins/inherited_resources
	url = git://github.com/josevalim/inherited_resources.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/settingslogic"]
	path = vendor/plugins/settingslogic
	url = git://github.com/binarylogic/settingslogic.git
[submodule "vendor/plugins/authlogic"]
	path = vendor/plugins/authlogic
	url = git://github.com/binarylogic/authlogic.git
[submodule "vendor/plugins/embedded-action"]
	path = vendor/plugins/embedded-action
	url = git://github.com/sd/embedded-actions.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/translate_routes"]
	path = vendor/plugins/translate_routes
	url = git://github.com/raul/translate_routes.git
[submodule "vendor/plugins/paperclippolymorph"]
	path = vendor/plugins/paperclippolymorph
	url = git://github.com/cantorrodista/paperclippolymorph.git
[submodule "vendor/plugins/acts-as-taggable-on"]
	path = vendor/plugins/acts-as-taggable-on
	url = git://github.com/cantorrodista/acts-as-taggable-on.git
[submodule "vendor/plugins/acts-as-rated"]
	path = vendor/plugins/acts-as-rated
	url = git://github.com/thecocktail/acts-as-rated.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
