body {
  font-family: Georgia,sans-serif;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
a {
  color: #6699CC;
}


.accesible {
  display: none;
}

#header {
  background: #FFFFFF;
  margin: 0 auto;

}

#header h1 {
 font-size: 1.8em;
 float: left;
}

#header h1 a {
	background: transparent url(../images/ociociudadreal_transparente.gif) no-repeat scroll center center;
	display: block;
	height: 10em;
	width: 16em;
}
#header h1 a span{
	display: none;
}


#top_bar{
	height: 3em;
}
#top_bar ul{
    float: right;
    margin: 1.5em 1em 0 0;
}

#top_bar ul li{
    float: left;
    margin-left: 0.6em;
}
#menu {
  height: 11em;
  background: transparent url(../images/header_small_w.gif) repeat-x scroll 0 0;
}

#menu ul {
  float:right;
  line-height:normal;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0 2.5em 0 0;
}

#menu li {
  float: left;
  margin-top: 0.15em;
}

#menu .active a {
  background:#FF9801;
  color:#493E2B;
  padding-left:0;
}

#menu a:hover, #menu .active a {
  text-decoration:none;
}

#menu a {
  background:#987A65;
  border:medium none;
  color:#FFFFFF;
  display:block;
  font-weight:normal;
  font-size:1.4em;
  font-weight:normal;
  height:1.6em;
  margin-left:0.5em;
  padding-top:0.3em;
  text-align:center;
  text-decoration:none;
  width:7.7em;
}


#wrapper  {
  margin: 0 auto;
  width: 96em;



}
#footer {
	background-color:#111111;
	border-top:1px solid #000000;
	clear:both;
	color:#CCCCCC;
	margin-top: 2em;
	height: 30em;
}
#footer #footer_content{
	margin-left: 2em;
}
#footer ul{
	padding: 2em 0em;
	margin-right: 6em;
	float: left;
}

#footer ul li a{
	text-decoration: none;
	font-size: 1.4em;
	line-height:1.5em;
} 
#footer h2{
	background:transparent url(../images/activa2black_small.jpg) no-repeat scroll center center;
	float:right;
	font-size:x-small;
	height:20.3em;
	width:35em;
}
#footer h2 span{
	display:none;
}
#footer h3{
	border-bottom:2px solid #FF9801;
	font-size:2em;
	margin:0 0 0.4em;
	padding:0 0 0.4em	
}
#content{
  margin: 0 auto;
  overflow: hidden;
  width: 96em;


}

#sidebar_left {
  float:left;
  width: 18em;

}

#main_content {
    float: left;
    width: 57.5em;
		padding: 2em 1em 0em 1em;
}


#sidebar_right{
    float: right;
    width:18em;

}

#content form{
    margin: 0 auto;
    width: 71em;
}
#content form fieldset {
  border: medium none;
}

#content form fieldset p {
  margin-bottom: 2em;
  overflow: hidden;
}

#content form fieldset label {
  color:#616161;
  display:block;
  font-size:1.4em;
  font-weight:bold;
  margin-bottom:0.5em;
}

#content form fieldset p span#images img{
	padding: 2em;
}
#content form fieldset input,  #content form fieldset button,#content form button.remove_item{
  border:1px solid #CECECE;
	font-size: 1.5em;
  padding:0.6em;
}
#content form fieldset p span img{
	margin-bottom: 1.5em;
}

#content form fieldset.categories {
  border: 1px solid #CECECE;
}

#content form fieldset.categories ul {
	padding: 1.3em;
}


#content form fieldset.categories legend{
	font-size: 1.4em;
	font-weight:bold;
  padding: 1em;
}
/*Errores*/


.errorExplanation {
    background-color: #FFCCCC;
    vertical-align: top;
    padding: 1em 2em;
    text-align: center;
    color: #CC0000;
    overflow: hidden;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.errorExplanation h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    color: #CC0000;
}
.errorExplanation h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    color: #CC0000;
}
.login_content .errorExplanation h3 {
    margin: .5em 0;
    text-align: left;
}
.login_content .errorExplanation p {
    font-size: 1em;
    color: #333;
    text-align: left;
    margin-bottom: .7em;
}
.login_content .errorExplanation ul {
    text-align: left;
    color: #333;
}
#new_comment .errorExplanation {
    margin-top: 2em;
}
#new_comment .errorExplanation ul {
    margin-top: 0;
}
#new_comment .errorExplanation ul li {
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 100%;
}
.errorExplanation ul {
    list-style: circle;
}
.errorExplanation ul li {
    display: block;
    font-weight: bold;
    list-style: none;
    margin-left: 0em;
    font-size: .8em;
} 

.fieldWithErrors {
    color: red;
}                                       
.fieldWithErrors input[type="text"],
.fieldWithErrors input[type="password"] {
    border-color: red;
}

.noticeExplanation {
    background-color: #99CC99;
    vertical-align: top;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;	
    font-weight: normal;
    font-size: 1.8em;
}

.toolbar {
	margin-top:-4.5em;
	position:absolute;
	width:79.1em;
	z-index:1;
}

.toolbar ul {
  font-size: 1.3em;
  float: right;
	margin-right: 6em;
  list-style: none;
}

.toolbar ul li{
  float: left;
  display: inline;
  margin-left: 0.4em;
}

.toolbar a {
  font-size: 1.3em;
  padding: 0.2em 0.2em 0.2em 1.4em;
  line-height: 1.6em;
}

.toolbar ul li a {
  font-size: 1em;
  display: block;
	padding: 0 0 0 2em;
}
.toolbar ul li a.add {
	background: url('../../images/add.png') no-repeat left center;;
}
#content h1 {
	border-bottom:1px solid #C0C7CB;
	font-family:Georgia,arial,sans-serif;
	font-size:2em;
	font-weight:bold;
	line-height:1em;
	margin-bottom:1em;
	padding:0 8em 0.3em 0.2em;
}

#content #main_content h2.main{
	border-bottom:1.5px solid #C0C7CB;
	font-family:Georgia,arial,sans-serif;
	font-size:2.8em;
	font-weight:bold;
	line-height:1em;
	margin-bottom:1em;
	padding:0 0.5em 0.3em 0.2em;
}

#content h2 a{
	text-decoration: none;
	color: #666;
}
#content h3 {
	font-family:Georgia,arial,sans-serif;
	font-size:1.4em;
	font-weight:bold;
	line-height:1.4em;
	padding-bottom:0.6em;
}
#content h3 a{
	text-decoration: none;
	color: #666;
}
#content h4 a{
	text-decoration: none;
	color: #FF9801;
}
#content h4 span{
	color: #FF9801;
}
 
.table_list {
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.table_list tr.even {
  background: #E9EDEF;
}

.table_list th {
  padding: 0.9em;
  background: #6699CC repeat-x scroll center top;
  color: #f2f2f2;
  border-bottom: 4px solid #99CC99;
	text-align:left;
}

.table_list th span {
  overflow: hidden;
  text-indent: -9000em;
}

.table_list td {
  padding: 0.9em;
  border-bottom: 1px solid #E1E6E8;
}

.table_list td img{
  display: block;
	margin: 0 auto;
}

.table_list .actions,
.table_list .language {
  text-align: center;
}

.table_list .main {
  width: 50%;
}

.table_list a.edit {
  padding: 0.2em 0.2em 0.2em 2em;
  background: url('../../images/edit.png') no-repeat left center;
}

input.checkbox {
	float: left;
	margin-right: 1em;
}
/* Toolbar de los formularios */

.form_toolbar{
	height: 4em;
}

.form_toolbar li {
	float: left;
	font-size: 1.4em;
	padding:0 1em 0 0;
}

.form_toolbar li a.remove{
	padding: 0.2em 0.2em 0.2em 2em;
  background: url('../../images/ko.png') no-repeat left center;
}

.form_toolbar li a.back{
	padding: 0.2em 0.2em 0.2em 2em;
  background: url('../../images/back.png') no-repeat left center;
}
/* Banners*/

.banner{
	margin: 0 auto;
	margin-top: 1.5em;
}

.banner.top{
	margin-top: 0em;
	padding: 1em 0em 1em 0em;
}

.banner img{
	border: none;
	margin: 0 auto;
	display: block;
}

.banner .bottom {
	display: block;
	float: left;
	margin-left:  0.4em;
	margin-bottom: 2em;
}

/*Paginación*/

.pagination {
	font-size: 1.4em;
	margin: 1.2em 0 1.2em 0;
}
.pagination a {
	border: 0.1em solid #99CC99;
	padding: 0.3em 0.5em;
	text-decoration: none;
	color: #6699CC;
	
}
.pagination span {
	color: #999999;
	padding: 0.3em 0.3em;
	
}

#advertiser_image {
	float: left;
	padding: 2em;
}
#main_featured{
	height: 19em;
	overflow: hidden;
	font-size: 1.4em;
	border-bottom:1.5px solid #C0C7CB;
	
}
#main_featured #main_featured_image{
	float: left;
	display: block;
	padding: 0.7em 1.2em 0.4em 0;
}

#main_featured  p{
	margin-top: 1em;
}
#featured {
	font-size: 1.2em;
}

#featured .small{
	overflow: hidden;
	height: 8em;
	width: 22.5em;
	float: left;
	padding: 1em 1.4em 1em 0;
}

#featured #featured_image {
	float: left;
	padding: 0.6em 0.6em 0.4em 0;
}
 #featured #text{
	padding: 0.6em 0.6em 0.4em 0;
}