body {
  font-family: Georgia,sans-serif;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
a {
  color: #6699CC;
}


.accesible {
  display: none;
}
#container{
	background: #EEE;
	overflow: hidden;
}

#header {
  margin: 0 auto;	
	padding-top: 2em;
}
#header .header_background{
	border-bottom:1px solid #CCCCCC;
	height:10em;
}
#header .main_header{
	background:  transparent url(../images/main_logo.jpg) no-repeat scroll top left;
	height: 10em;
}
#header .sub_header{
	background: url(../images/sub_header_background.gif) repeat-x scroll 0 0;
	height: 7.8em;
	display:none;
}
#header h1 {
 font-size: 1.8em;
 float: left;
}


#header h1 a span{
	display: none;
}


#top_bar{
	height: 3em;
	float:right;
	color: #222;
	font-size: 1.4em;
}
#top_bar a{
	color: #222;
}
#top_bar ul{
    float: right;
    margin: 1.5em 1em 0 0;
}

#top_bar ul li{
    float: left;
    margin-left: 0.6em;
}

#secondary_menu{
	margin: 2em 0;
}
#secondary_menu h4{
	font-size: 1.5em;
	padding: 0.5em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid #7F7700;
}
#secondary_menu a{
	text-decoration:none;
	font-size: 1.4em;
	color:#666666;
	line-height: 1.5em;
	
}

#secondary_menu a:hover{
	color: white;
	background: #7F7700;
	padding: 0.15em 0.5em;
}
#secondary_menu ul{
	padding: 1em;
}

#secondary_menu ul li.active{
	background: #7F7700;
	
}

#secondary_menu ul li.active a{
	color: white;
	padding-left: 0.5em;
}
#menu {
  height: 3.3em;
  margin: 0 auto;
	border-bottom:1px solid #CCCCCC;
}

#menu ul {
  line-height:normal;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  padding:0 2.5em 0 0;
}

#menu li {
  float: left;
  border-left: 1px solid #CCC;
}
#menu li.first{
	border:none;
}

#menu .active a {
  color:#3366CC;
  padding-left:0;
}
 #menu .active a {
  text-decoration:none;
}

#menu li a:hover {
	background: #3366CC;
	color:#FFF;
	cursor:pointer;
	text-decoration: none;
}
#menu a {
  border:medium none;
  color:#3366CC;
  display:block;
  font-weight:normal;
  font-size:1.6em;
  font-weight:normal;
  height:1.75em;
  padding-top:0.3em;
  text-align:center;
  text-decoration:none;
  width:6.8em;
}


#wrapper  {
  margin: 0 auto;
  width: 99em;
	background: white;
}
#wrapper_pub  {
  margin: 0 auto;
  width: 72.5em;
	padding: 0.5em 0em;

	background: white;
}
.rounded{
	-moz-border-radius: 2ex;
	-webkit-border-radius: 2ex;
	border: 4px solid #CCC;
	padding: 10px;
}
#footer {
	background-color:#EEE;
	clear:both;
	color:#3366CC;
	margin-top: 2em;
	height: 30em;
}
#footer #footer_content{
	margin-left: 2em;
}
#footer ul{
	padding: 2em 0em;
	margin-right: 6em;
	float: left;
}

#footer ul.latest {
	width: 40em;
	overflow: hidden;
}

#footer ul li a{
	color:#111;
	font-size:1.4em;
	line-height:1.5em;
	text-decoration:none;
} 
#footer ul li a:hover{
	text-decoration: underline;
	color: #111;
}
#footer h2{
	background:transparent url(../images/activa2black_small.jpg) no-repeat scroll center center;
	float:right;
	font-size:x-small;
	height:20.3em;
	width:35em;
}
#footer h2 span{
	display:none;
}
#footer h3{
	border-bottom:2px solid #99CC66;
	font-size:2em;
	margin:0 0 0.4em;
	padding:0 0 0.4em	
}
#content{
  margin: 0 auto;
  overflow: hidden;
  width: 99em;


}

#sidebar_left {
  float:left;
  width: 18em;

}

.main_content {
    float: left;
    width: 66em;
		padding: 2em 1em 0em 1em;
}

.admin{
	width: 96em;
}
#sidebar_right{
    float: right;
    width:29em;

}

.block{
	margin-top: 2em;
}

.block .header{
	background: #3366CC;
	color: white;
}

.block .content{
		padding: 1em;
		font-size: 1.3em;
}
.block .content li{
	padding-bottom: 0.5em;
}
#content .block .header h3{
	font-size:1.8em;
	padding:0.4em 0.8em;
}
#content form{
    margin: 0 auto;
    width: 94em;
}

#content form.new_comment{
	width: auto;
}
#content form fieldset {
  border: medium none;
}

#content form fieldset p {
  margin-bottom: 2em;
  overflow: hidden;
	padding-left: 0.8em;
}

#content form fieldset label {
  color:#616161;
  display:block;
  font-size:1.4em;
  font-weight:bold;
  margin-bottom:0.5em;
}

#content form fieldset p span#images img{
	padding: 2em;
}
#content form fieldset input,  #content form fieldset button,#content form button.remove_item{
  border:1px solid #CECECE;
	font-size: 1.5em;
  padding:0.6em;
}
#content form fieldset p span img{
	margin-bottom: 1.5em;
}

#content form fieldset.categories {
  border: 1px solid #CECECE;
	margin-bottom: 0.8em;
}

#content form fieldset.categories ul {
	padding: 1.3em;
}


#content form fieldset.categories legend{
	font-size: 1.4em;
	font-weight:bold;
  padding: 1em;
}
/*Errores*/


.errorExplanation {
    background-color: #FFCCCC;
    vertical-align: top;
    padding: 1em 2em;
    text-align: center;
    color: #CC0000;
    overflow: hidden;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.errorExplanation h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    color: #CC0000;
}
.errorExplanation h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    color: #CC0000;
}
.login_content .errorExplanation h3 {
    margin: .5em 0;
    text-align: left;
}
.login_content .errorExplanation p {
    font-size: 1em;
    color: #333;
    text-align: left;
    margin-bottom: .7em;
}
.login_content .errorExplanation ul {
    text-align: left;
    color: #333;
}
#new_comment .errorExplanation {
    margin-top: 2em;
}
#new_comment .errorExplanation ul {
    margin-top: 0;
}
#new_comment .errorExplanation ul li {
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 100%;
}
.errorExplanation ul {
    list-style: circle;
}
.errorExplanation ul li {
    display: block;
    font-weight: bold;
    list-style: none;
    margin-left: 0em;
    font-size: .8em;
} 

.fieldWithErrors {
    color: red;
}                                       
.fieldWithErrors input[type="text"],
.fieldWithErrors input[type="password"] {
    border-color: red;
}

.noticeExplanation {
    background-color: #7F7700;
    vertical-align: top;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;	
    font-weight: normal;
    font-size: 1.8em;
		margin-top: 1em;
		color: #FFF;
}

.toolbar {
	margin-top:-4.5em;
	position:absolute;
	width:79.1em;
	z-index:1;
}

.toolbar ul {
  font-size: 1.3em;
  float: right;
	margin-right: 6em;
  list-style: none;
}

.toolbar ul li{
  float: left;
  display: inline;
  margin-left: 0.4em;
}

.toolbar a {
  font-size: 1.3em;
  padding: 0.2em 0.2em 0.2em 1.4em;
  line-height: 1.6em;
}

.toolbar ul li a {
  font-size: 1em;
  display: block;
	padding: 0 0 0 2em;
}
.toolbar ul li a.add {
	background: url('../../images/add.png') no-repeat left center;;
}
#content h1 {
	border-bottom:1px solid #7F7700;
	font-size:2em;
	font-weight:normal;
	line-height:1em;
	margin-bottom:1em;
	padding:0 8em 0.3em 0.2em;
}

#content .main_content h2.main{
	border-bottom:1.5px solid #99CC66;
	font-size:2em;
	font-weight:normal;
	line-height:1em;
	margin-bottom:0.5em;
	padding:0 0.5em 0.3em 0.2em;
}

#content h2 a{
	text-decoration: none;
	color: #3D3D3D;
}
#content h3 {
	font-size:1.4em;
	font-weight:bold;
	line-height:1.4em;
	padding-bottom:0.6em;
}
#content h3 a{
	text-decoration: none;
	color: #666;
}
#content h4 a{
	text-decoration: none;
	color: #666666;
}
#content h4 span a{
	color: #3366CC;
}

#content h4 span{
	color: #3366CC;
}
 
.table_list {
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.table_list tr.even {
  background: #E9EDEF;
}

.table_list th {
  padding: 0.9em;
  background: #6699CC repeat-x scroll center top;
  color: #f2f2f2;
  border-bottom: 4px solid #99CC99;
	text-align:left;
}

.table_list th span {
  overflow: hidden;
  text-indent: -9000em;
}

.table_list td {
  padding: 0.9em;
  border-bottom: 1px solid #E1E6E8;
}

.table_list td img{
  display: block;
	margin: 0 auto;
}

.table_list .actions,
.table_list .language {
  text-align: center;
}

.table_list .main {
  width: 50%;
}

.table_list a.edit {
  padding: 0.2em 0.2em 0.2em 2em;
  background: url('../../images/edit.png') no-repeat left center;
}

input.checkbox {
	float: left;
	margin-right: 1em;
}
/* Toolbar de los formularios */

.form_toolbar{
	height: 4em;
}

.form_toolbar li {
	float: left;
	font-size: 1.4em;
	padding:0 1em 0 0;
}

.form_toolbar li a.remove{
	padding: 0.2em 0.2em 0.2em 2em;
  background: url('../../images/ko.png') no-repeat left center;
}

.form_toolbar li a.back{
	padding: 0.2em 0.2em 0.2em 2em;
  background: url('../../images/back.png') no-repeat left center;
}
/* Banners*/

.banner{
	margin: 0 auto;
	margin-top: 1.5em;
	
}

.banner.top{
	margin-top: 0em;
	background-color: #9A9901;
	
}

.banner img{
	border: none;
	margin: 0 auto;
	display: block;
}

.banner .bottom {
	display: block;
	float: left;
	margin-left:  0.4em;
	margin-bottom: 2em;
}

/*Paginación*/

.pagination {
	font-size: 1.4em;
	margin: 1.2em 0 1.2em 0;
}
.pagination a {
	border: 0.1em solid #99CC99;
	padding: 0.3em 0.5em;
	text-decoration: none;
	color: #6699CC;
	
}
.pagination span {
	color: #999999;
	padding: 0.3em 0.3em;
	
}

#advertiser_image {
	float: left;
	padding: 2em;
}

.highlight, .advertiser{
	font-size: 1.2em;
	padding: 1em;
}

.highlight p,.advertiser p {
	font-size: 1.1em;
	overflow: hidden;
}

.highlight p.date{
	padding: 0.2em 0;	
}
.highlight img{
	padding: 1em;
}
.highlight .detail_highlight_content p.date{
	padding-bottom: 1.2em;	
}
.highlight dl {
	color:#666;
	font-size:1.2em;
	margin-bottom:0.6em;
	overflow:hidden;
	display: block;
	height: 1%;
}


.highlight dl dt {
	float:left;
	margin-right:0.5em;
}

.highlight dl dd {
	float:left;
}

.highlight dl dd a {
	color:#3366CC;
	font-weight:bold;
	text-decoration:none;
}

.highlight .detail_highlight{
	border-bottom:1px solid #CCCCCC;
	margin-top:1em;
	padding: 1em;
}

.highlight .detail_highlight .detail_highlight_content{
	display: block;
	overflow: hidden;
}

.highlight .highlght_content{
	clear:both;
}
.highlight .highlght_content img{
	float:left;
	margin:-0.4em 1em 0.1em 0;
}
.share{
	margin-top: 1.5em;
	padding: 1em;
	width: 29em;
}
.user_actions .a2a_dd{
	margin-left: 1em;
}
.degr_box {
	background: transparent url("../images/degr_caja_destacado.gif") repeat-x scroll center 1px;
}

.border_box {
	border: 1px solid #CCCCCC;
}
.user_actions{
	padding-top: 0.15em;
	display: block;
	overflow: hidden;
}
.user_actions a{
	text-decoration:none;
	float: left;
	display: block;
	overflow: hidden;
}
#main_featured{
	overflow: hidden;
	font-size: 1.2em;
	border: 1px solid #CCCCCC;
	padding: 1em;
	margin-bottom: 2em;
	
}
#main_featured #main_featured_image{
	float: left;
	display: block;
	padding: 0.7em 1.2em 0.4em 0;
	display:inline;
	overflow:hidden;
}
#main_featured #main_featured_content{
	display:block;
	overflow:hidden;
}

#featured #featured_content{
	display:block;
	overflow:hidden;
}
#main_featured #main_featured_summary{
	display:block;
	overflow:hidden;
	padding:0.6em 0.6em 0.4em 0;
}

#featured {
	font-size: 1.2em;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	padding: 1em;
	margin-bottom: 2em;
}

#featured .small{
	overflow: hidden;
	height: 8em;
	width: 25em;
	float: left;
	padding: 0em 1.4em 2em 0;
}

#featured #featured_image {
	display:inline;
	float:left;
	overflow:hidden;
	padding:0.6em 0.6em 0.4em 0;
}
 #featured #text{
	padding: 0.6em 0.6em 0.4em 0;
	display: block;
	overflow: hidden;
}

#featured #featured_image a img{
	border:none;
}

#advertisers .main_content #advertiser_body{
	padding-top: 2em;
}

#advertisers .main_content #advertiser_body p{
	font-size: 1.4em;
}

/* Caja de comentarios */

.comments_box{
	color:#616161;
	font-weight:bold;
	margin-bottom:0.5em;
	padding: 1em;
	margin-top: 1.5em;
}

.comments_box h4, .comments_box ul{
	font-size:1.4em;
}

.comments_box h4, .comments_box ul li{
	padding: 0.4em 0;
}
.comments_box .comment_form{
	padding-top: 1em;
	
}
.comments_box ul li img {
    float: left;
}
.comments_box .comment_form h4{
	padding-bottom: 1em;
	font-size:1.4em;
	
}

.comments_box ul li .comments {
    background: url("../images/list_separator.gif") repeat-x bottom left;
    padding: 0 0 2em 3em;
}
.comments_box ul li .comments p {
	margin-bottom:0.5em;
	padding:0 3em 0 0;
}

.comments_box #new_comment form fieldset label{
	font-size: 1em;
	font-weight: bold;
	font-size:1.4em;
	
}

.comments_box #new_comment form fieldset input{
	font-size:1em;
	padding:0.3em;
	font-size:1.4em;
	
}
.comments_box #new_comment form fieldset p{
	margin-bottom: 1em;
}
.comments_box #new_comment form fieldset button {
	font-size: 1em;
	font-size:1.4em;
	
}

.comments_box #new_comment form .errorExplanation{
	width: 34em;
}


/* ******************************************************
GENERIC TABLES
****************************************************** */

.main_table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    font-size: 1.2em;
}
.main_table.users_table {
    font-size: xx-small;
}
.main_table.users_table td img {
    float: left;
    margin-right: .5em;
}
.main_table.users_table td span.cities {
    font-size: .8em;
    display: block;
    color: #666;
}
.main_table caption {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 1em;
    text-align: left;
}
.main_table thead {
    background: #EDEDED;
    color: #333;
    text-align: left;
}
.main_table thead tr th {
    padding: .5em 0 .5em 1.5em;
}
.main_table tr.even {
    background: #fff;
}
.main_table tr.odd {
    background: #EDEDED;
}
.main_table tr.even td {
    padding: .8em 0 .8em 1em;
}
.main_table tbody tr td {
    padding: .5em 0 .5em 1em;
    vertical-align: top;
}
.main_table .actions {
    text-align: center;
}

.main_table thead th.comments {
    width: 30em;
}
.main_table tbody tr td strong {
    display: block;
    color: #333;
}
.main_table .check {
    vertical-align: top;
    width: .5em
}

.categories_navigation{
	padding: 2em;
	overflow: hidden;
}

.categories_navigation ol.categories_list li.main_list{	
  background: transparent url("../images/list_separator.gif") repeat-x scroll center bottom;
  padding: 0.8em 0 1.5em 0;
	margin: 0 0 1.5em;
	overflow: hidden;
}
.categories_navigation ol li{
	font-size: 1.2em;
	margin-bottom: 0.8em;

}
.categories_navigation ul{
	float:left;
	overflow: hidden;
	width: 14.7em;
}
.categories_navigation ul li {

}
.categories_navigation ol li a{
 text-decoration: none;
 
}
.categories_navigation h2{
	font-size:1.5em;
	padding:0 0 0.8em;
	font-weight: normal;
}


/* ******************************************************
WYSWYG STYLES
********************************************************/

.imgizqda {
    float: left;
    margin: 0 5px 5px 0;
}
.imgcen {
    display: block;
    margin: 5px auto;
    padding: 5px 0;
}
.imgdcha {
    float: right;
    margin: 0 0 5px 5px;	
}
.acenter {
    text-align: center;
}

/**
* # RATING STYLES
*--------------------------------------------------------------------------*/


.highlight-rating {
    position: relative;
    width: 29em;
    overflow: hidden;
		color:#666666;
		font-size:1.2em;
		padding: 0.6em;
		margin-top: 1.5em;
}
.rating_home{
	margin: 0;
	padding-left: 1em;
	float: left;
}
.rating_home .rate_question{
	font-size: 1em;
}
.highlight-rating .rate_post {
  float: left;
  padding: 0.2em 0.5em 0 0;
}
.highlight-rating  .rate_question {
    font-weight: bold;
    color: #7F7700;
    float: left;
    padding: 0.2em 0.5em 0 0;
}
.star-rating, .star-rating a:hover, .star-rating a:active, .star-rating a:focus, .star-rating .current-rating {
}
.star-rating {
    position: relative;
    background-position: left top;
    height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 90px;
}
.star-rating li {
    display: inline;
}
.star-rating a, 
.current-rating {
    display: block;
    height: 17px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -10000em;
    top: 0;
}
.star-rating a:hover, .star-rating a:active, .star-rating a:focus {
    background-position: left bottom;
}
.star-rating a.one-star {
    width: 18px;
    z-index: 6;
}
.star-rating a.two-stars {
    width: 36px;
    z-index: 5;
}
.star-rating a.three-stars {
    width: 54px;
    z-index: 4;
}
.star-rating a.four-stars {
    width: 72px;
    z-index: 3;
}
.star-rating a.five-stars {
    width: 90px;
    z-index: 2;
}
.star-rating .current-rating {
    background-position: left center;
    z-index: 1;
}
.inline-rating {
    display: inline-block;
    vertical-align: middle;
}
.small-star {
    height: 18px;
    width: 90px;
}
.highlight-rating ul.small-star,
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
    background-image: url("../images/small_star.gif");
    height: 17px;
    margin: 0em 0em 0.4em 0;
    padding: 0 0 0 0;
    line-height: 1px;
    clear: none;
    float: left;
    display: inline;
}

div.publi{
	margin: 1em 0em;
}
