<div class="form_toolbar">
	<ul>
		<li>
			<%= link_to 'Volver', banners_path, :class = "back"%> 
		</li>
		
	</ul>
</div>
<% form_for @banner, :url => banners_path,
           :html => { :multipart => true} do |f| %>
        <%= render :partial => 'form', :locals => {:banner => @banner, :f => f} %>
      <% end %>
