<%= f.error_messages %>
<fieldset>
    <p>
      <%= f.label :name, t('activerecord.attributes.category.name') %>
      <%= f.text_field :name %>
    </p>
  



<%= f.submit t('app.category.create.link_to') %>
