<h1>Categorías</h1>
<div class="categories_navigation degr_box border_box">
<ol class="categories_list">
<% @categories.each do |category|%>
	<% next if category.navigation_tags.blank?%>
	<li class="main_list">
		<h2><%= link_to category.name, highlights_categories_path(category.nicename)%></h2>
		<% limit = category.navigation_tags.size < 4 ? category.navigation_tags.size : category.navigation_tags.size / 3 %>
	  <ul>
	  <% category.navigation_tags[0..limit-1].each do |tag|%>
		<li><%= link_to tag.name, category_tag_path(category,tag)%></li>
	  <% end %>
	 </ul>
	 <% unless category.navigation_tags[limit].blank?%>
	  <ul>
	  <% category.navigation_tags[limit..2*(limit)-1].each do |tag|%>
		<li><%= link_to tag.name, category_tag_path(category,tag)%></li>
	  <% end %>
	 </ul>
	<% end %>
	 <% unless category.navigation_tags[2*(limit)].blank?%>
	  <ul>
	  <% category.navigation_tags[2*(limit)..3*(limit)-1].each do |tag|%>
		<li><%= link_to tag.name, category_tag_path(category,tag)%></li>
	  <% end %>
	 </ul>
	<% end %>
	</li>
<% end %>
</ol>
</div>

