<div id="wrapper">
	<script type="text/javascript"><!--
	google_ad_client = "pub-1843683943847304";
	/* 728x90, creado 20/06/10 footer */
	google_ad_slot = "0524078883";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>

<div id="footer">
		<div id="footer_content">
		<ul>
			<h3>Cuenca</h3>
				<% Category.visible.each do |category|%>
					<li <%= class_active(category.nicename)%>><%= link_to category.name, highlights_categories_path(category.nicename)%></li>
				<% end %>
		</ul>
		<ul class="latest">
			<h3>Lo mas Leído</h3>
			<% 20.times do%>
			 <% h = Highlight.published.rand%>
				<li><a href="<%=highlight_path(h)%>"><%=h.name%></a></li>
			<% end %>
		</ul>
	  </div>
	</div>
	
</div>
</div>
