<div id="wrapper">

<div id="footer">
		<div id="footer_content">
		<ul>
			<h3>Cuenca</h3>
				<% Category.visible.each do |category|%>
					<li <%= class_active(category.nicename)%>><%= link_to category.name, highlights_categories_path(category.nicename)%></li>
				<% end %>
		</ul>
		<ul class="latest">
			<h3>Lo mas Leído</h3>
			<% 20.times do%>
			 <% h = Highlight.published.rand%>
				<li><a href="<%=highlight_path(h)%>"><%=h.name%></a></li>
			<% end %>
		</ul>
	  </div>
	</div>
	
</div>
</div>
