	<div id="wrapper">
<div id="footer">
		<div id="footer_content">
		<ul>
			<h3>Cuenca</h3>
				<% Category.visible.each do |category|%>
					<li <%= class_active(category.nicename)%>><%= link_to category.name, highlights_categories_path(category.nicename)%></li>
				<% end %>
		</ul>
		<ul class="latest">
			<h3>Lo mas Leído</h3>
			<% 5.times do%>
			 <% h = Highlight.published.rand%>
				<li><a href="<%=highlight_path(h)%>"><%=h.name%></a></li>
			<% end %>
		</ul>
		
		<ul>
			<h3>Contacto</h3>
				<li><script type="text/javascript">
				//<![CDATA[
				<!--
				var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
				"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
				".substr(0,ol);}f(\")521,\\\"CFO[RPr\\\\ET310\\\\310\\\\100\\\\N?()12; \\\"\\"+
				"\\!8$)%400\\\\-$[N\\\\\\\\TWn\\\\020\\\\lKAK\\\\\\\\E520\\\\620\\\\220\\\\B" +
				"/*+J`|771\\\\M.V5chvit\\\\[[+030\\\\430\\\\220\\\\A410\\\\730\\\\230\\\\610" +
				"\\\\100\\\\410\\\\320\\\\-2/766320\\\\>+(9/+$y.KQRXZ720\\\\o410\\\\IHYA700\\"+
				"\\D730\\\\300\\\\7sw|c|af!yeljp`n230\\\\\\\"(f};o nruter};))++y(^)i(tAedoCr" +
				"ahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)521<i(fi{)++i;l<i;0=i(rof;htgnel.x=" +
				"l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                       ;
				while(x=eval(x));
				//-->
				//]]>
				</script></li>
				<li style="font-size: 1.2em;color:red">&copy; 2010 <a href="http://cantorrodista.com">cantorrodista.com</a></li>
		</ul>
		
	  </div>
	</div>
	
</div>
</div>
