
<div id="header">
	<% if @top_banners %>
	<% @top_banners.each do |banner|%>
	<div class="banner top">
		<%= link_to image_tag(banner.image(:body)), banner.advertiser ? advertiser_path(banner.advertiser) : banner.url%></div>

		<% end %>
		<% end %>
		<div class="header_background">
			<div class="main_header">
				<h1><a href="/"><span>turismoconquense</span></a></h1>
				<% if logged_in?%>
				<div id="top_bar">
					<%= render :partial => "layouts/small_menu"%>		
				</div>
				<% end 	%>

			</div>
		</div>
		<div id="menu">

				<%= render :partial => "layouts/menu"%>
		</div>
		<script type="text/javascript"><!--
		google_ad_client = "pub-1843683943847304";
		/* 728x15, creado 20/06/10 */
		google_ad_slot = "9729961846";
		google_ad_width = 728;
		google_ad_height = 15;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		<div class="sub_header">
			
		</div>

	</div>

