<% if @left_banners && !logged_in?%>
	<% @left_banners.each do |banner|%>
		<div class="banner"><%= link_to image_tag(banner.image(:sidebar)), banner.advertiser ? advertiser_path(banner.advertiser) : banner.url%></div>
	<% end %>
<% end %>