<% if @right_banners && !logged_in?%>
	<% @right_banners.each do |banner|%>
		<div class="banner"><%= link_to image_tag(banner.image(:sidebar)), banner.advertiser ? advertiser_path(banner.advertiser) : banner.url%></div>
	<% end %>
<% end %>

<div class="block border_box">
	<div class="header">
		<h3>Lo mas valorado</h3>
	</div>
	<div class="content degr_box">
		<ul>
		<% 5.times do %>
			<% h = Highlight.published.rand%>
			<li><%= link_to h.name, highlight_path(h)%></li>
		<% end%>
		</ul>
	</div>
</div>

<div class="block border_box">
	<div class="header">
		<h3>Lo mas leído hoy</h3>
	</div>
	<div class="content degr_box">
		<ul>
		<% 5.times do %>
			<% h = Highlight.published.rand%>
			<li><%= link_to h.name, highlight_path(h)%></li>
		<% end%>
		</ul>
	</div>
</div>